.container {
  padding: 5px 0;
  margin-bottom: 20px;
}

.list {
  display: flex;
  list-style: none;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 25%;
  margin-bottom: 7px;
  padding: 2px 3px;
  border-radius: 10px;
  border: 1px solid var(--primary-color-green);
  text-align: center;
  font-weight: 700;
}

.item:nth-child(2) {
  width: 200px;
}

.item:not(:last-child) {
  margin-right: 7px;
}

.text {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}

.value {
  font-size: 18px;
  color: var(--primary-color-green);
}

.valueTime {
  font-size: 16px;
  color: var(--primary-color-green);
}

.item:nth-child(4) {
  padding: 5px 20px;
  color: #000;
  font-weight: 600;
  background-color: var(--primary-color-gold);
}

.item:nth-child(4) .value {
  color: #000;
  font-weight: 600;
}

.descrRating {
  text-align: center;
}

@media  screen and (max-width: 1200px) {
  .value {
    font-size: 20px;
  }

  .container {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .text {
    font-size: 18px;
  }

  .value {
    font-size: 16px;
  }

  .valueTime {
    font-size: 14px;
  }

  .descrRating {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .text {
    font-size: 16px;
  }

  .value {
    font-size: 15px;
  }

  .item {
    max-width: 30%;
  }

  .descrRating {
    text-align: center;
    font-size: 8px;
  }
}


@media (max-width: 500px) {
  .text {
    font-size: 11px;
  }

  .value {
    font-size: 11px;
  }

  .valueTime {
    font-size: 11px;
  }
}

