:root {
  --widthModalUH: 500px;
}

.modal {
  position: absolute;
  top: 20%;
  left: calc(50% - (var(--widthModalUH) / 2));
  width: var(--widthModalUH);
  padding: 20px 30px;
  border-radius: 10px;
  color: var(--primary-color-gold);
  background-color: rgba(0, 0, 0, .5);
  outline: 1px solid var(--primary-color-gold);
  overflow-y: auto;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}

.descr {
  margin-bottom: 8px;
}

.list {
  margin-bottom: 10px;
  list-style: none;
}

.let {
  margin-right: 5px;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 150px;
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--primary-color-gold);
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.84) inset;
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.84) inset;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.84) inset;
}

.check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.contCheck {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}

.check + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.check + label::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -30px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  border: 1px solid var(--primary-color-gold);
  transition: background .2s ease-in-out;
}

.check:checked + label::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -30px;
  background-image: url('../../assets/img/iconOK.svg');
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
}

@media (max-width: 700px) {
  :root {
    --widthModalUH: 95%;
  }

  .content {
    font-size: 15px;
  }
}
